@import './styles';

.body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter';
}

#Map {
    position: absolute;
    width: 100%;
    height: 100%;
}

#info  {
    position: absolute;
    top: 0;
    left: 0;
    color: $dark;
    font-family: 'Inter';
    z-index: 2;
    display: flex;
}

.info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}

.info__title {
    font-weight: bold;
    font-size: 20px;
}
#info {
    background: linear-gradient(270deg, $primary, $primary--dark, $dark);
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    border-bottom-right-radius: 200px;
    width: 200px;
    padding: 20px 80px 30px 30px;
    color: white;
}

.guessmap {

  &__wrapper {
    position: fixed;
    bottom: 2rem;
    width: 300px;
    height: 400px;
    right: 5rem;
  }

  &__toggle {
    margin-bottom: 10px;
    padding: 10px 20px !important;
  }

  &__tall {
    width: 50vw;
    height: 90vh;
    bottom: 5rem;

    #GuessMap {
      height: -webkit-fill-available;
    }
  }
}

#GuessButton {
  margin-bottom: 20px;

  &:hover {
    background-color: $tertiary;
  }
}

#GuessMap {
  width: 100%;
  height: 350px;
  border-radius: 20px;

  &:hover {
    &:after {
      opacity: 0;
      transition: 0.4s;
    }
  }

  &.guessPlaced:after  {
      opacity: 0;
  }

  &:after {
    opacity: 1;
    transition: 0.4s;
    position: absolute;
    content: 'Gib deinen Guess ab!';
    height: -webkit-fill-available;
    left: 0;
    right: 0;
    background: #00000073;
    z-index: 999;
    padding: 40% 20px;
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
  }
}

.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000082;
  z-index: 2;
  display: none;

  &--end {
    .panel__wrapper {
      background-color: $primary !important;
    }
  }

  &.show {
    display: block;
  }

  &__wrapper {
    background: $tertiary;
    border-radius: 50px;
    padding: 40px;
    color: white;
    text-align: center;
    margin: 5rem 0;
    margin-left: auto;
    margin-right: auto;
    height: -webkit-fill-available;
    width: 80vw;
  }

  &__header {
    font-size: 45px;
  }

  &__map-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  &__button-wrapper {
    margin-top: 30px;
  }

  .distance {
    font-style: italic;
    background: $dark;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 7px;
    color: $yellow;
  }

  &__meme-wrapper {
    height: 300px;
    display: flex;
    justify-content: center;

    img, video {
      height: 100%;
      width: 100%;
    }
  }
}

#RoundMap {
  position: relative;
  height: 300px;
  width: 900px;
}

  
/* Animation keyframes */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
  
.button {
  width: fit-content;
  padding: 20px 40px;
  border-radius: 60px;
  font-weight: bold;
  border: unset;
  cursor: pointer;
  color: white;

  &--secondary {
    background-color: $tertiary;
    &:hover {
      background-color: $primary--dark;
    }
  }

  &--primary {
    background-color: $primary;
    &:hover {
      background-color: $primary--dark;
    }
  }

  &--dark {
    background-color: $dark;
    &:hover {
      background: $primary--dark;
    }
  }
}

