$primary: #7950E5; //purple
$primary--dark: #563B9A;
$primary--light: #D9D7F0;
$secondary: #FFA43D; //orange
$tertiary: #1F9C7D; //green
$tertiary--light: #97e851;
$tertiary--dark: #479440;
$dark: #1A1A2E;
$black: #10101C;
$light: #D9D7F0;
$yellow: #FECD19;

@font-face {
    font-family: "Default";
    src: url("DynaPuff.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    src: url("./Inter.woff") format("woff");
}

h2 {
    margin: 0 0 20px 0;
}